<!-- emailTemplate.html -->
<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        padding: 20px;
        font-family: Arial, sans-serif;
        border: 1px solid #eee;
        border-radius: 10px;
      }
      .button {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>{{EMAIL_TITLE}}</h2>
      <p>{{EMAIL_DESCRIPTION}}</p>
      <a class="button">{{EMAIL_OTP}}</a>
    </div>
  </body>
</html>
